.footer{
    background: rgba(224, 224, 224, 0.22);
    display: flex;
    padding-left: 8%;
    padding-right: 2.5%;
    padding-top: 32px;
    color: #999999;
    font-size: 18px;
    padding-bottom: 62px;
    input{
        background: rgba(196, 196, 196, 0.34);
        border: none;
        margin-bottom: 10px;
    }
    h2{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 24px;
        color: black
    }
    ul{
        margin-top: 17px;
        li{
            margin-top: 17px;
        } 
    }
    &__column{
        width: 25%;
    }
    img{
        margin-top: 65px;
    }
}