.subject{
   &__theory{
       margin-bottom: 2%;
   }
}
.exercieces{
    display: flex;
    &__do{
        padding-left: 15px;
        color: #117FCE;
    }
}
.generate__test{
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    width: 191px;
    background: #E0E0E0; 
    margin-top: 2%;
    margin-bottom: 2%;
}