.header{
    border-bottom: 1px solid #000000;
    padding-bottom: 14px;
    ul{
        padding-left: 82px;
        li{
            display: inline;
            padding-top: 8px;
        }
    }
    &__image{
        width: 112px;
        height: 56px;
    }
    &__title{
        font-weight: 500;
        line-height: normal;
        font-size: 40px;
        color: #333333;
        padding-left: 28px;
    }
}