.content{
    display: flex;
    width: 100%;
    &__blog{
        padding-left: 5%; 
        h2{
            margin-top: 44px; 
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 40px;
            margin-bottom: 44px;
        }
        div{
            width: 100%;
            padding-right: 5%;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
        }
    }
}
.read_more{
    padding-top: 15px;
    padding-bottom: 15px; 
    text-align: center;
    background-color: #E0E0E0;
    border: 2px solid #E0E0E0;
    width: 250px;
    transition: 500ms background-color;
    &:hover{
        background-color: white;
        border: 2px solid #E0E0E0;
    }
}