.sidebar{
    width: 20%;
    height: 654px;
    float: right;
    background: #F2F2F2;
    input{
        width: 80%;
        height: 30px;
        border: none;
        margin-left: 10%;
        margin-bottom: 29px;
    }
    span{
        margin-left: 10%;
    }
    div{
        margin-left: 10%;
    }
    &__title{
        font-size: 30px;
        padding-top: 19px;
        padding-bottom: 22px;
    }
    &__desc{
        font-size: 18px;
        margin-bottom: 4px;
    }
    &_sign-in{
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 33px;
        padding-right: 33px;
        background: #E0E0E0;
        width: 125px;
    }
}