.subjects{
    width: 80%;
    text-align: center;
    &__name{
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.9);
    }
    .content{
        width: 90%;
        margin: auto;
    }
    .col-md-3{
        margin-top: 40px;
    }
}